option_settings:
  aws:elasticbeanstalk:application:environment:
    # No DJANGO_SETTINGS_MODULE, since it's FastAPI
    FASTAPI_ENVIRONMENT: production

  aws:elasticbeanstalk:environment:proxy:
    # Using nginx as the proxy server instead of apache, since it's recommended for FastAPI
    ProxyServer: nginx

  aws:elasticbeanstalk:environment:proxy:staticfiles:
    # Adjust static file directories as needed
    /html: statichtml
    /images: staticimages

  aws:elasticbeanstalk:container:python:
    # Specify the WSGI path to Uvicorn, a recommended server for FastAPI
    WSGIPath: app:app  # Ensure your FastAPI app is defined as 'app' in app.py or equivalent.
    NumProcesses: 3  # Set the number of processes for the container (adjust based on your needs)
    NumThreads: 20    # Set the number of threads per process (adjust as needed)
